/* ==UserStyle==
@name           Change Bluesky Colours
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Customizable accent and background colours for Bluesky
@author         fluffypuppykasey.bsky.social
@preprocessor   less
@var color accentColour "Accent Colour" #00000000
@var color backgroundColour "Background Colour" #00000000
==/UserStyle== */
@-moz-document domain("bsky.app") {
    
@accent-colour: @accentColour;
@background-colour: @backgroundColour;
    
    [style*="background-color: rgb(0, 0, 0);"]{
        background-color: @background-colour !important;
        backdrop-filter: blur(2em) saturate(150%) contrast(125%) brightness(33%);
    }
    
    [fill="#0085ff"] {
        fill: @accent-colour !important;
    }
    
    a[href="/notifications"] svg + div,
    [aria-label^="Follow "],
    [aria-label="Compose post"],
    [aria-label="Confirm"],
    [aria-label="Publish post"] div,
    [aria-label="Save alt text"] div,
    [style*="rgb(90, 113, 250), rgb(0, 133, 255));"],
    [style*="background-color: rgb(0, 133, 255);"],
    [style*="background-color: rgb(16, 131, 254);"]
    {
        background-color: @accent-colour !important;
        background-image: none !important;
    }
    
    [style*="color: rgb(16, 131, 254);"] {
        color: @accent-colour !important;
    }
    
    [style*="background-color: rgb(16, 131, 254);"] {
        background-color: @accent-colour !important;
    }
    
    [fill="hsl(211, 99%, 53%);"],[fill="hsl(211, 99%, 53%)"] {
        fill: @accent-colour !important;
    }
    
    [style*="background-color: rgb(1, 84, 173);"] {
        background-color: darken(@accent-colour,5%) !important;
    }
    
    [style*="background-color: rgb(0, 44, 91);"] {
        background-color: darken(@accent-colour,65%)!important;
    }
    
    [style*="background-color: rgb(52, 150, 254)"] {
        background-color: lighten(@accent-colour,5%) !important;
    }
    
    [style*="color: rgb(52, 150, 254)"] {
        color: lighten(@accent-colour,5%) !important;
    }
    
}
